<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.serviceModel>
        <services>
            <service name="Trial.Scheduler.Service.Services.CommandScheduler" behaviorConfiguration="DefaultServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8010/scheduler" />
                        <add baseAddress="http://localhost:8020/scheduler" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="netTcpBinding" contract="Trial.Scheduler.Service.Services.ICommandScheduler"/>
                <endpoint address="" binding="wsDualHttpBinding" contract="Trial.Scheduler.Service.Services.ICommandScheduler"/>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="Trial.Scheduler.Service.Services.Registrator" behaviorConfiguration="DefaultServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8010/registrator" />
                        <add baseAddress="http://localhost:8020/registrator" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="netTcpBinding" contract="Trial.Scheduler.Service.Services.IRegistrator"/>
                <endpoint address="" binding="wsDualHttpBinding" contract="Trial.Scheduler.Service.Services.IRegistrator"/>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>
    
    
</configuration>